*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html{
	height:100%;
}
body{
	font-family: 'Montserrat', sans-serif;
  	text-align: center;
  	background:#0F0E0E;
	color: A0A0A0;  
	height: 100%;
  	margin:0;
	padding: 0;
	overflow: hidden;
	}

ul {
	padding: 0;
	margin:0;
}
input{
	//display: block;
}
label{
	//display: block;
}
h1.title {
	align-items: center;
	display: flex;
	color: rgba(255, 255, 255, 0.33);
	font-weight: 500;
	font-size: 48px;
	height: 60px;
	margin: 0;
	letter-spacing: 0.11em;
	left: calc(100% / 12 - 5px);
	line-height: 147.4%;
	position: absolute;
	text-align: left;
	top: 70px;
	vertical-align: center;
	width: calc(100% / 12 * 5);
	//z-index: 2;
}
h2.prices{
	font-size: 22px;
	font-style: normal;
	font-weight: bold;
	letter-spacing: 0.02em;
	line-height: 27px;
	opacity: 0.4;
}
h2.about{
	flex-basis: 66.6666666667%;
	font-size: 32px;
	height: 80px;
	line-height: 125%;
	padding-bottom: 30px;
    max-width: 66.6666666667%;
	text-align: center;
}
h3.about{
	flex-basis: 66.6666666667%;
	font-size: 22px;
	height: 30px;
	letter-spacing: 0.045em;
	line-height: 140.02%;
	padding-bottom: 45px;
	max-width: 66.6666666667%;
}
.about{
	font-style: normal;
	font-weight: normal;
}
.title.about-title{
	color: rgba(255, 255, 255, 0.14);
}
.about-left{
	background: url(../img/about.png) center/cover;
}
.about-right{
    align-content: center;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0 76px;
}
.about-text-wrapper{
	border-bottom: 1px dashed rgba(160, 160, 160, .5);
	border-top: 1px dashed rgba(160, 160, 160, .5);
	display: flex;
	//margin-bottom: 45px;
	padding: 45px 0;
	width: 100%;
}
.about-text-col{
	box-sizing: border-box;
	flex-basis: 50%;
	max-width: 50%;
}
.about-text{
	font-size: 14px;
	line-height: 150%;
	text-align: left;
}
.about-text-col:first-child{
	padding-right: 35px; 
}
.about-text-col:last-child{
	padding-left: 35px; 
}
.about-right a{
	color: 3F8DBF;
	text-decoration: none;
}
.half-screen{
	width: 50%
}
	.arrows{    
		align-items: center;
		background:rgba(0, 0, 0, 0);
		color:#fff;
		cursor: pointer;
		display: flex;
		font-size: 50px;
		height: 100%;
		opacity: 0.4;
		position: absolute;
		top: 0;
		width: 50px;
	}
	.arrows:hover{
		opacity: 1;
		background:rgba(0, 0, 0, 0.2);
	}
	.icon-chevron-thin-left{
		left: 0;
	  }
	.icon-chevron-thin-right{
		right: 0;
	}
	.sandwich{
		position: absolute;
		top:0;
		left:0;
		bottom:0;
		background-color: #000;
		width: 35px;
		z-index: 2;
	}
	
	.menu-icon{
		display: flex;
		display: -ms-flexbox;
		position: absolute;
		height: 100%;
		left: 15.5%;
		cursor: pointer;
		align-items: center;
	}
	
	.menu-icon span {
	  display: block;
	  width: 23px;
	  height: 4px;
	  background-color: #E2E2E2;
	  border-radius: 2px;
	  }
	
	.menu-icon span::before,
	.menu-icon span::after {
	  display: block;
	  content: "";
	  width: 23px;
	  height: 4px;
	  background-color: #E2E2E2;
	  border-radius: 2px;
	  transition-timing-function: ease;
	  transition-duration: .15s;
	  }
	
	.menu-icon span::before{
		transform: translate(0px,-7px);
	}
	.menu-icon span::after{
		transform: translate(0px,3px);
	}
	
	.menu-icon-open span::before{
		transform: translate(-5px,-5px) rotate(-45deg) scaleX(.6);
	}
	
	.menu-icon-open span::after{
		transform: translate(-5px,1px) rotate(45deg) scaleX(.6);
	}
	
	.main-sidebar{
		margin-left: 35px;
	  	padding-top: 35px;
	  	position: absolute;
		top:0;
		bottom: 0;
		left: -215px;
		width: 215px;
		background: #171717;
		overflow-y: hidden;
		z-index: 1;
		transition-timing-function: ease;
		transition-duration: .45s;
	  
	}
	
	.main-sidebar-open{
		transform: translate(215px, 0);
	}
	
	.menu{
		padding: 0px;
		margin: 0px;
	}
	
	.menu li{
		list-style: none;
	} 
	
	.menu a {
		display: block;
		text-decoration: none;
		color: #767676;
		border-bottom: 1px dotted rgb(118, 118, 118);
		padding: 7px 15px 7px;
	} 
	
	.menu a:hover {
		color: #E2E2E2;
	}
	
	.logo {
		padding-left: 30px;
		padding-right: 50px;
		margin:50px 0 40px;
	}
	
	.social{
		padding: 10px 0;
		border-bottom: 1px solid #333333;
		border-top: 1px solid #333333;
	}
	.social a {
		text-decoration: none;
	}
	.social-wrapper{
		width: 140px;
		margin: 0 auto;
		display: flex;
		display: ms-flexbox;
		justify-content: space-around;
	}
	.about-right .social-wrapper {
		padding-top: 45px;
	}
	.social a{
		color: #337ab7;
	}
	
	.social a:hover i{
		color: #E2E2E2;
	}
	
	.copyright-text{
		text-align: center;
		margin-top: 40px;
	}
	
	.copyright-text a{
		color: #337ab7;
		text-decoration: none;
	}
	
	.copyright-text{
		text-align: center;
		margin-top: 40px;
	}
	
	.copyright-text a{
		color: #337ab7;
		text-decoration: none;
	}
	
	.slider{
		margin-left: 35px;
		overflow: hidden;
    	position: relative;
		}
	
	.slider-cover{
		display:flex; 
		flex-wrap:nowrap;
		}
	
	.slider-item {
		flex: 0 0 100%;
		height: 100vh;
		}
		
	 .menu li{
		list-style: none;
	} 
	.slider-controls{
		left:50%;
		margin-left: -87px;
		position: absolute;
		top:92%;
		z-index: 101;
	}
	
	 .switcher{
		list-style: none;
		width: 20px;
		height: 5px;
		margin: 0 3px;
		display: inline-block;
		background-color: rgba(0,0,0,0);
		border: 1px solid #fff;
		cursor: pointer;
		box-shadow: 2px 2px 7px black;
		box-sizing: border-box;
	}
	
	.switcher-active{
		background-color: #fff;
	}

	
	.content{
		box-sizing: border-box;
		display: flex;
		height: 100%;
		padding:0 35px;
		position: relative;
		width: 100%;
	}
	.prices-left{
		background: url(../img/studio.jpg) center/cover;
	}
	.prices-right{
		background: url(../img/street.jpg) center/cover;
	}
	.flip-card{
		width: 305px;
		height: 590px;
		left: 0;
		margin: auto;
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
	}
	.flip-card-inner{
		box-sizing: border-box;
		color: #fff;
		position: relative;
		width: 100%;
		height: 100%;
		text-align: center;
		transition: transform 0.8s;
		transform-style: preserve-3d;
	}
	.flipped.flip-card-inner{
		transform :rotateY(180deg);
	}	
	.description-front-top{
		background: #3887B9;
		padding: 40px 30px 10px;
	}
	.description-front-top h2{
		padding-bottom: 10px;
		font-weight: 500;
		font-size: 24px;
		line-height: 29px;
	}
	.description-front-top p{
		padding: 10px 0;
		font-size: 14px;
		line-height: 17px;
	}
	.description-front-bottom{
		background: #3F8DBF;
		padding: 30px;
	}
	.description-front-bottom p {
		font-size: 10px;
		line-height: 13px;
		padding-bottom: 30px;
	}
	.description-back, .description-front{
		position: absolute;
		width: 100%;
		height: 100%;
		backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		transform-style: preserve-3d;
	}
	.description-back{
		background: #3887B9;
		padding: 40px 30px 30px;
		transform: rotateY(180deg);
	}
	.description-back .icon-Arrow{
    	border: 2px solid #FFFFFF;
    	font-size: 40px;
    	height: 40px;
    	position: absolute;
    	right: -20px;
		top: -21px;
    	width: 40px;
	}
	.description-back .icon-Arrow:hover{
		background:rgba(255, 255, 255, 0.1)
	}
	.description-back h2{
		margin-bottom: 30px;
	}
	.description-back .group{ 
		align-items: center;
		display: flex;
		margin-bottom:25px; 
		position:relative; 
		text-align: left;
		width: 100%;
	  }
	.description-back .group input{
		background: none;
		border:none;
		color: #FFFFFF;
		display:block;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 17px;
		width: 100%;
	}
	.description-back .group label{
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 17px;
		left:1px;
		position:absolute;
		pointer-events:none;
		transition:0.3s ease all; 
		-moz-transition:0.3s ease all; 
		-webkit-transition:0.3s ease all;
	}
	.description-back .text-group{
		height: 30px;
	}
	.description-back .textarea-group label{
		top: 0px;
	}
	.description-back .icon-small-calendar{
		font-size: 20px;
	}
	.description-back input[type="text"]:focus ~ label, .description-back input[type="text"]:valid ~ label,
	.description-back textarea:focus ~ label {
		top:-15px;
		font-size: 11px;
	  }
	.description-back .check-group{
		width: 100%;
		height: 20px;
	}
	.description-back .check-group input{
		border: 1px solid #FFFFFF;
		border-radius: 1px;
		height: 20px;
		width: 20px;
		-webkit-appearance: none;
		transition: all .28s ease;
	}
	.description-back .check-group label{
		left: 28px;
	}
	input[type="checkbox"]:after {
		content: '';
		position: absolute;
		top: 1px;
		left: 6px;
		width: 6px;
		height: 12px;
		background-color: transparent;
		border-bottom: 2px solid #3887B9;
		border-right: 2px solid #3887B9;
		opacity: 0;
		transform: rotate(45deg);
		z-index: 2;
		transition: all .28s ease;
	}
	.description-back .check-group input:checked{
		background: #FFFFFF;
	}
	input[type="checkbox"]:checked:after{
		border-color: #3887B9;
		opacity: 100;
	}
	.description-back .group input:focus{
		outline: none;
	}
	.description-back .text-group{
		border-bottom: 1px solid #fff;
	}
	input[type="submit"]{
		color: #fff;
		font-family: 'Montserrat', sans-serif;		
		font-weight: bold;
		font-size: 14px;
		line-height: 17px;
		letter-spacing: 0.145em;
	}
	.text-area-input{
		box-shadow: none;
		border: none;
		border-bottom: 1px solid #FFFFFF;
		border-right: 1px solid #FFFFFF;
		background-color: transparent;
		font-family: 'Montserrat', sans-serif;	
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 17px;
		max-height: 176px;
        color: #FFFFFF;    
		outline: 0;
		padding: 1rem 0;
		resize: none;
		width: 100%;
	}
	  textarea::-webkit-input-placeholder {
		color: #FFFFFF;
	  }
	  
	  textarea:-moz-placeholder { /* Firefox 18- */
		color: #FFFFFF;  
	  }
	  
	  textarea::-moz-placeholder {  /* Firefox 19+ */
		color: #FFFFFF;  
	  }
	  
	  textarea:-ms-input-placeholder {
		color: #FFFFFF;  
	  }
	  
	  textarea::placeholder {
		color: #FFFFFF;  
	  }
	.button{
		background: rgba(255, 255, 255, 0.1);
		border: 2px solid #FFFFFF;
		box-sizing: border-box;
		cursor: pointer;
		font-weight: bold;
		height: 40px;
		letter-spacing: 0.145em;
		line-height: 40px;
		text-align: center;
		vertical-align: middle;
		width: 100%;
	}
	.button:hover{
		background: rgba(255, 255, 255, 0.3);
	}
	
	.price{
		color: #fff;
		font-size: 25px;
		line-height: 30px;
		height: 60px;
		position: absolute;
		width: calc(100% / 12 * 2 - 20px);

	}
	.price-studio {
		bottom: 76px;
		left: calc(100% / 12 - 5px);
		text-align: left;
		
	}
	.price-street{
		text-align: right;
		top: 76px;
		right: calc(100% / 12 - 5px);
	}
	.price-studio p:last-child{
		font-weight: bold;
		
	}
	.price-street p:last-child{
		font-weight: bold;
		
	}

	/*icon font bellow*/
	@font-face {
		font-family: 'icomoon';
		src:  url('../fonts/icomoon.eot?hsa1y');
		src:  url('../fonts/icomoon.eot?hsa1y#iefix') format('embedded-opentype'),
		  url('../fonts/icomoon.ttf?hsa1y') format('truetype'),
		  url('../fonts/icomoon.woff?hsa1y') format('woff'),
		  url('../fonts/icomoon.svg?hsa1y#icomoon') format('svg');
		font-weight: normal;
		font-style: normal;
	  }
	  
	  [class^="icon-"], [class*=" icon-"] {
		/* use !important to prevent issues with browser extensions that change fonts */
		font-family: 'icomoon' !important;
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
	  
		/* Better Font Rendering =========== */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	  }
	  
	  .icon-Arrow:before {
		content: "\e900";
	  }
	  .icon-small-calendar:before {
		content: "\e901";
	  }
	  .icon-instagram:before {
		content: "\e902";
	  }
	  .icon-chevron-thin-left:before {
		content: "\e903";
	  }
	  .icon-chevron-thin-right:before {
		content: "\e904";
	  }
	  .icon-vk1:before {
		content: "\e905";
	  }
	  .icon-whatsapp:before {
		content: "\ea93";
	  }
	  .icon-vk:before {
		content: "\ea98";
	  }